@charset "UTF-8";

	#myCalendar{
		border-collapse: collapse;
		border: 1px solid gray;
	}
	
	#myCalendar th{
		width: 80px;
		border: 1px solid gray;
		text-align: center;
	}
	
	#myCalendar td{
		width: 100px;
		height: 120px;
		border: 1px solid gray;
		text-align: left;
		vertical-align: top;
		position: relative;
	}


	.cpt {caption-side: top;}
	
	.list > p {
		font-size: 5px;
		margin: 1px;
		background-color: #D0A9F5;
	}
