@charset "UTF-8";
#semi_footer {
	background-color: #a0a0a0;
	position: relative;
	margin-top: 30px;
}

.footer {
	width: 1200px;
	margin: 0 auto;
}

.footer_content {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.footer_content:first-child {
	margin-left: 0px;
}
.footer_ul {
	margin-top: 5px;
}
.footer_ul_a {
	padding: 0px;
	font-weight: bold;
}
.footer_div{
	margin-top: 5px;
    line-height: 1.5;
    width: 1000px
}
.footer_sns{
	margin-top: -20px;
    line-height: 16px;
    text-align: right;

}
.footer_sns_a{
	display: inline-block;
	padding: 0px;
	margin-left: 10px;
}